<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BingMapsAPI" value="ArFxfOkQ6dDSBNU_XTVcvXhAX4-D4gw1_0SD2vmVtAeVpTwT2IugkXU2BPosuKUk"/>
    <add key="SpeechAPI" value="c8a1ba5ed30644a58bb21a211501d46a"/>
  </appSettings>
</configuration>